## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* List popular languages that Data scientists use
* List some commonly used libraries
* Show evaluation of arithmetic expressions in Python
* List some data science tools

Some of the popular languages that Data Scientists use are:

1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Numpy
3. Matplotlib

| Data Science Tools |
|---|
|JupyterLab|
|Spyder|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [25]:
# This a simple arithmetic expression to mutiply then add integers

In [27]:
(3*4)+5

17

In [29]:
#This will convert 200 minutes to hours by diving by 60

In [31]:
200/60

3.3333333333333335

## Author

Laszlo Sajtos